.header-container__menu-bar {
    padding: 5px;
    /* border: 1px solid black; */
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Glory', sans-serif;
    text-transform: uppercase;
}

.header-container .menu-bar__buttons a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
    text-align: center;
    
}

.header-container .menu-bar__buttons a:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: 300ms;
    
}
/* .header-container .menu-bar__buttons{
    margin-right: 20px;
    padding-right: 50px;
    border: 1px solid red;
} */

      /* -----styles for cards------- */

.cards-container {
    border: 2px solid black;
    margin: 0.4%;
    display: flex;
    flex-direction: column;
}

.cards__header__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards__header__horizontal {
    width: 30%;
    position: relative;
}

.cards__header__horizontal img {
    width: -webkit-fill-available;
}

.cards__header__horizontal--cover {
    background-color: #0000003d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cards__body__container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards__body__container img {
    width: 300px;
}

/* ---------styles footer------- */

.footer{
    background-color: gray;
    padding: 10px;
}